# Backend
SUPABASE_URL=https://iywhiknjrqdbvveulmpo.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5d2hpa25qcnFkYnZ2ZXVsbXBvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTIwNTA0OCwiZXhwIjoyMDk0NzgxMDQ4fQ.oAnr4151t9ew3msZ4gZ8IFye-gv4dfa3nifCPnhvyAo
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5d2hpa25qcnFkYnZ2ZXVsbXBvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyMDUwNDgsImV4cCI6MjA5NDc4MTA0OH0.uoMeojHe47l4biX6YQhjAvohyzua4nNCguVpY1R6NHs
CORS_ORIGINS=http://localhost:5173,https://tu-frontend.vercel.app

# Frontend (Vite)
VITE_API_URL=http://localhost:8000/api
VITE_SUPABASE_URL=https://iywhiknjrqdbvveulmpo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5d2hpa25qcnFkYnZ2ZXVsbXBvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyMDUwNDgsImV4cCI6MjA5NDc4MTA0OH0.uoMeojHe47l4biX6YQhjAvohyzua4nNCguVpY1R6NHs
